body{
    background-image: url(https://c.wallhere.com/photos/ce/9b/bar-196897.jpg!d);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat';font-size: 22px;
}
h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
}
ol{
    background: rgba(0, 0, 0, 0.95);
    padding: 50px;
}
li{
    color: white;
    font-weight: 500;
}
ol{
    border-radius: 10px;
}
td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;

}
td:nth-child(2){
    width: 70%;
}